includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        - '#it_fails_to_create_an_item_from_an_array_of_pairs\(\)#'
    reportUnmatchedIgnoredErrors: true
