includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - message: '#it_fails_to_create_an_item_from_an_array_of_pairs\(\)#'
          path: tests/ItemTest.php
        - message: '#Method Bakame\\Http\\StructuredFields\\DataType::(serialize|parse)\(\) has parameter \$data with no value type specified in iterable type iterable.#'
          path: src/DataType.php
    excludePaths:
        - tests/Record.php
    reportUnmatchedIgnoredErrors: true
